<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/stylesheets/stars.css">
  <div class="row">
    <div class="col-sm">
      <div class="card">
        <div id="image-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
          <div class="carousel-inner">
            <% park.images.forEach((img, i) => { %>
            <div class="carousel-item <%= i===0? 'active' : ''%>" data-bs-interval="5000">
              <img src="<%= img.url %>" class="d-block w-100" alt="">
            </div>
            <% }) %>
          </div>
          <% if(park.images.length > 1) {%>
          <button class="carousel-control-prev" type="button" data-bs-target="#image-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#image-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
          <% } %>
        </div>
        <!-- <img src="" class="card-img-top" alt=""> -->
        <div class="card-body">
          <h5 class="card-title">
            <%= park.title %>
          </h5>
          <p class="card-text">
            <%= park.description %>
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item text-muted">
            <%= park.location %>
          </li>
          <li class="list-group-item text-muted">
            Submitted by <%= park.author.username %>
          </li>
          <li class="list-group-item">Entry fees : <%= park.price %> INR</li>
        </ul>
        <div class="card-body">
          <% if(currentUser && park.author.equals(currentUser)) { %>
            <a class="card-link btn btn-primary" href="/parks/<%= park._id %>/edit">Edit</a>
            <form class="d-inline mr-3" action="/parks/<%= park._id %>?_method=DELETE" method="POST">
              <button class="btn btn-danger">Delete</button>
            </form>
            <% } %>
              <a class="card-link btn btn-info" href="/parks">All Parks</a>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div id='map' style='width: 100%; height: 300px;' class="mb-3"></div>
      <% if(currentUser) {%>
      <form action="/parks/<%= park._id %>/reviews" class="mb-3 mx-2 needs-validation" method="POST" novalidate>
        <h3>Leave a review!</h3>
        <!-- <div class="mb-3">
          <input type="range" min="1" max="5" class="form-range" name="review[rating]" id="rating">
        </div> -->
        <div>
        <fieldset class="starability-fade">
          <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
          <input type="radio" id="first-rate1" name="review[rating]" value="1" />
          <label for="first-rate1" title="Terrible">1 star</label>
          <input type="radio" id="first-rate2" name="review[rating]" value="2" />
          <label for="first-rate2" title="Not good">2 stars</label>
          <input type="radio" id="first-rate3" name="review[rating]" value="3" />
          <label for="first-rate3" title="Average">3 stars</label>
          <input type="radio" id="first-rate4" name="review[rating]" value="4" />
          <label for="first-rate4" title="Very good">4 stars</label>
          <input type="radio" id="first-rate5" name="review[rating]" value="5" />
          <label for="first-rate5" title="Amazing">5 stars</label>
        </fieldset>
      </div>
        <div class="mb-3">
          <label class="form-label" for="body">Review</label>
          <textarea class="form-control" name="review[body]" id="body" cols="30" rows="3" required></textarea>
          <div class="invalid-feedback">Enter review</div>
        </div>
        <button class="btn btn-success">Submit!</button>
      </form>
      <% } %>
      <% if(park.reviews.length) {%>
      <h3>Reviews</h3>
      <% } else {%>
        <h3>No reviews yet!</h3>
        <% } %>
      <% for(let review of park.reviews) {%>
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">
              <%= review.author.username %>
            </h5>
            <p class="starability-result" data-rating="<%= review.rating %>">
              Rated: <%= review.rating  %> stars
            </p>
            <h6 class="card-text">
              <%= review.body %>
            </h6>
            <% if(currentUser && review.author.equals(currentUser)) { %>
            <form action="/parks/<%= park._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
              <button class="btn btn-sm btn-danger">Delete</button>
            </form>
            <% } %>
          </div>
        </div>
        <% } %>
    </div>
  </div>
  <script>
    const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
    const parkmap = <%- JSON.stringify(park) %>;
  </script>
  <script src="/javascripts/map.js"></script>